html,body{
    background-color:#eeeeee;
}
body{
    /*background: url('/img/bg.jpg') repeat;*/
}
a {
    cursor: pointer;
    color: #155faa;
}

.main{
    max-width: 1300px !important;
    background-color:#ffffff;
}
.btn-publish{
    float:right;
    margin-bottom:15px;
}
.media-object{
    width:40px;
    height: 40px;
}
.media-body{
    vertical-align: middle;
}
.comment-text{
    font-size: 12px;
    font-weight: normal;
    color: #635f5f;
}
.titleH4{
    margin: 0 0 3px;
    padding-right: 20px;
    font-size: 14px;
    word-wrap: break-word;
}
.profile .section{
    margin-top:27px;
}
.text-999-12{
    color:#999999;
    font-size: 12px;
}
.comment-form,.comment-form button{
    margin:10px 0px;
}
.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color:#499ef3;
}
.menu .active {
    color:#499ef3;
}
.secondComments{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0px;
}
.secondComments .btn{
    margin-top:15px;
}
.relatedUl{
    list-style: none;
}
.tagLabel{
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}
