html,body{
    background-color:#eeeeee;
}
body{
    /*background: url('/img/bg.jpg') repeat;*/
}
a {
    cursor: pointer;
    color: #155faa;
}
.main{
    max-width: 1300px !important;
    background-color:#ffffff;
}
.btn-publish{
    float:right;
    margin-bottom:15px;
}
.media-object{
    width:40px;
    height: 40px;
}
.comment-text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.titleH4{
    margin: 0 0 3px;
    padding-right: 20px;
    font-size: 14px;
    word-wrap: break-word;
}
.profile .section{
    margin-top:27px;
}