<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
<script type="application/javascript">
    function setTags(e){
        var newTag=$(e).html();
        var tagValue=$("#tag").val();
        var array=tagValue.split(",");
        if (tagValue ){
            if ($.inArray(newTag, array)==-1){

                $("#tag").val(tagValue+","+newTag);
            }
        }else{
            $("#tag").val(newTag);

        }
    }
    function showSelectTagDiv() {
        $("#selectTag").show();
    }

</script>
</head>
<body>
<div th:insert="~{navigation :: copy}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input th:value="${title}" ype="text" class="form-control" id="title" name="title" placeholder="问题标题.....">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示）</label>
                    <textarea th:text="${description}" class="form-control" rows="10" cols="30" id="description" name="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input th:value="${tag}" type="text" class="form-control" id="tag" name="tag" placeholder="输入标签,逗号隔开"
                           onfocus="showSelectTagDiv()" >

                </div>
                <div id="selectTag" style="display: none;">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">开发语言</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">平台框架</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">服务器</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">数据库</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home" style="padding-top: 10px;">
                            <span class="label label-info tagLabel"  onclick="setTags(this)">Java</span>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile" style="padding-top: 10px;">
                            <span class="label label-info tagLabel"  onclick="setTags(this)">spring</span>
                            <span class="label label-info tagLabel"  onclick="setTags(this)">springboot</span>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages" style="padding-top: 10px;">
                            <span class="label label-info tagLabel"  onclick="setTags(this)">Windows</span>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings" style="padding-top: 10px;">
                            <span class="label label-info tagLabel"  onclick="setTags(this)">Mysql</span>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div th:if="${error != null} " class="alert alert-danger" role="alert" th:text="${error}" style="width:100%;"></div>
                </div>

                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>